/* style2.css */




.chat-room-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* style.css */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 20px;
  background: linear-gradient(to bottom right, #5d6ee2, #8e47e0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #000;
}

input[type="button"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 10px 10px;
}

input[type="text"],
input[type="password"],
input[type="email"]
{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-button {
  background-color: #8e47e0;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.signup-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

#login-button:hover {
  background-color: #5d6ee2;
}

.signup-link:hover {
  color: #8e47e0;
}

#signup-button {
  background-color: #5d6ee2;
  color: #fff;
  transition: background-color 0.3s ease;
}

#signup-button:hover {
  background-color: #8e47e0;
}
